<header class="header_class">
    <mat-toolbar class="toolbar" color="primary">
        <mat-toolbar-row>
        <button (click)="sidenavAction()" class="header-column-icon" mat-icon-button>
            <mat-icon>attach_money</mat-icon>
        </button>
        <span class="menu-spacer"></span>
        <div class="first-element-header content">
            <a class="header-column-network-first" mat-button [routerLink]="'/'" ><h1>BETTING APP</h1> </a>
                <a class="header-column" mat-button [routerLink]="'/competitions'"> Competições </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
                <a class="header-column" mat-button [routerLink]="'/'"> teste </a>
        </div>
        </mat-toolbar-row>   
    </mat-toolbar>
</header>