
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #673ab7;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav div:hover {
    color: #673ab7;
    background-color: white;
  }
  
  .sidenav div {
    width: 100%;
    margin-top: 25%;
    padding: 60px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }

  .sidenav div a {
    text-decoration: none;
      color: inherit;
      
  }