<div class="sidenav">
  <div style="float:right">
    <a style="float:right; margin-right: 20px; margin-bottom: 25%" href="#services">Wallet</a>
    <mat-icon style="float:right; margin-right: 20px;margin-bottom: 25%;">account_balance_wallet</mat-icon> 
  </div>
    <div style="float:right">
      <a style="float:right; margin-right: 20px; margin-bottom: 25%" href="#services">Wallet</a>
      <mat-icon style="float:right; margin-right: 20px;margin-bottom: 25%;">account_balance_wallet</mat-icon> 
    </div>
    <div style="float:right">
      <a style="float:right; margin-right: 20px; margin-bottom: 25%;" href="#services">Wallet</a>
      <mat-icon style="float:right; margin-right: 20px;margin-bottom: 25%;">account_balance_wallet</mat-icon> 
    </div>
  </div>